<div class="bg-primary text-secondary flex flex-col items-center gap-2 py-4">
    <div class="flex min-w-48 flex-col items-center font-bold">Place a bet</div>
    <form
        class="flex flex-col items-center gap-2"
        hx-post="/bet/{{match_id}}/{{prediction}}"
        hx-ext="json-enc"
    >
        <div>Winner: {{predicted_team}}</div>
        <input
            name="bet_amount"
            type="number"
            placeholder="Bet Amount"
            class="text-primary w-36 rounded-md p-2"
            min="0"
        />
        <button
            type="submit"
            class="bg-primary-lightest text-secondary-darkest hover:bg-secondary hover:text-primary rounded-md px-4 py-2"
        >
            Place bet
        </button>
    </form>
</div>
