<div
    class="bg-match flex flex-grow flex-row items-center justify-between gap-10 rounded-sm p-2"
>
    <div id="teams" class="font-bold">{{team_a.name}} - {{team_b.name}}</div>
    <div id="odds" class="flex flex-row gap-3">
        <div
            id="odds_a"
            class="bg-match-bet hover:bg-match-bet-hover flex flex-col items-center gap-1 rounded-lg p-2 font-bold"
        >
            <div>Win A</div>
            <div>{{current_odds.odds_a}}</div>
        </div>
        <div
            id="odds_b"
            class="bg-match-bet hover:bg-match-bet-hover flex flex-col items-center gap-1 rounded-lg p-2 font-bold"
        >
            <div>Win B</div>
            <div>{{current_odds.odds_b}}</div>
        </div>
    </div>
</div>
