<div
    id="game_board"
    class="bg-primary-lighter text-secondary flex flex-1 flex-col items-center gap-10 pt-10"
>
    <div id="title" class="text-2xl font-bold">WELCOME TO STARBET-LIVE</div>
    <div id="about" class="mx-16">
        <div class="flex flex-col items-center gap-3">
            <div class="text-xl font-bold">About</div>
            <div class="text-center">
                Discover the future of esports betting with Starbet Live.
                Immerse yourself in real-time action, placing bets during live
                matches across diverse game categories, all scheduled for your
                convenience. Our dynamic odds adapt to the unfolding game, while
                your strategic bets influence the entire betting landscape.
                Enjoy a seamless user experience, and be part of the
                adrenaline-pumping world of esports like never before. Elevate
                your game – join Starbet Live now!
            </div>
        </div>
    </div>
</div>
