<div class="bg-primary-lighter text-secondary flex flex-1 flex-col px-5 pt-5">
    <div id="game_title" class="text-3xl font-bold">
        {{game_name}} - Live Matches
    </div>
    <div
        id="matches"
        class="mt-5 flex flex-col gap-3"
        hx-ext="ws"
        ws-connect="/ws/{{game_name}}"
    >
        <!-- prettier-ignore -->
        {% for match in matches %}
        <!-- The div is here, because when it was in the askama match.html template, the websocket updates weren't working -->
        <div
            id="{{match.match_id}}" 
            class="bg-primary-lightest flex flex-grow flex-row items-center justify-between gap-10 rounded-sm p-2"
        >
            {{ match|safe }}
        </div>
        {% endfor %}
    </div>
</div>
