<!-- prettier-ignore -->
{% extends "layout_profile.html" %}

{% block main_content %}
<div id="main-content" class="flex flex-grow">
    <ul class="bg-primary-lighter flex flex-col gap-4 rounded p-4 text-center">
        <li class="bg-primary w-full rounded px-2">
            <button hx-get="/user/bet-history">Bet History</button>
        </li>
        <li class="px-2">
            <button hx-get="/user/edit-profile">Edit Profile</button>
        </li>
        <li class="px-2">
            <button hx-get="/user/deposit-withdrawl">Deposit/Withdrawl</button>
        </li>
        <li class="mt-auto px-2">
            <button hx-get="/user/settings">Settings</button>
        </li>
    </ul>
    <div class="flex-grow overflow-y-auto">
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
        <div class="bg-primary-lighter m-4 rounded">
            <p>Match name</p>
            <p>WON</p>
            <p>Navi</p>
            <p>355 EUR</p>
        </div>
    </div>
</div>
{% endblock %}
