<!-- prettier-ignore -->
{% extends "layout_unauth.html" %}

{% block main_content %}
<h2 class="mb-4 text-4xl font-bold">Welcome to Starbet-Live</h2>
<p class="mb-8 text-lg text-gray-300">
    Experience the thrill of live e-sport betting
</p>
<div hx-boost="true" class="flex space-x-4">
    <a
        class="inline-flex h-10 items-center justify-center rounded-md bg-white px-8 text-sm font-medium text-gray-900 shadow transition-colors hover:bg-gray-200"
        href="/login"
    >
        Login </a
    ><a
        class="inline-flex h-10 items-center justify-center rounded-md border border-gray-200 bg-transparent px-8 text-sm font-medium text-white shadow-sm transition-colors hover:bg-gray-800"
        href="/register"
    >
        Register
    </a>
</div>
{% endblock %}
