<div class="flex flex-col justify-center items-center h-screen">
    <div class="m-4 font-bold text-lg">
        LANDING PAGE
    </div>
    <div class="m-4 text-center">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec ipsum massa, ullamcorper in, auctor et,
            scelerisque sed, est. Phasellus et lorem id felis nonummy placerat. Vivamus porttitor turpis ac leo. Ut
            tempus
            purus at lorem. Maecenas sollicitudin. Suspendisse sagittis ultrices augue. Integer vulputate sem a nibh
            rutrum
            consequat. Integer pellentesque quam vel velit. Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus
            libero, eget facilisis enim ipsum id lacus. Phasellus faucibus molestie nisl. Etiam bibendum elit eget erat.
        </p>
        <br>
        <p>
            Nulla pulvinar eleifend sem. Integer lacinia. Sed vel lectus. Donec odio tempus molestie, porttitor ut,
            iaculis
            quis, sem. Suspendisse nisl. Donec quis nibh at felis congue commodo. Donec iaculis gravida nulla. Fusce
            tellus.
            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur
            aut
            perferendis doloribus asperiores repellat. Ut enim ad minima veniam, quis nostrum exercitationem ullam
            corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Nam sed tellus id magna elementum tincidunt.
            Integer imperdiet lectus quis justo.
        </p>
    </div>
    <div class="flex flex-row">
        <button hx-get="login" hx-target="body" class="m-2 p-2 bg-gray-400 hover:bg-gray-600 rounded-md">
            LOGIN
        </button>
        <button hx-get="register" hx-target="body" class="m-2 p-2 bg-gray-400 hover:bg-gray-600 rounded-md">
            REGISTER
        </button>
    </div>
</div>