<!-- prettier-ignore -->
{% extends "base.html" %}

{% block content %}
<div
    class="text-secondary bg-primary flex h-screen min-h-screen flex-col justify-between"
>
    <header class="flex items-center justify-between px-6 py-4">
        <a hx-boost="true" href="/" class="flex items-center space-x-4">
            <svg
                id="etXrbcyABMI1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 300 300"
                shape-rendering="geometricPrecision"
                text-rendering="geometricPrecision"
                width="24"
                height="24"
            >
                <ellipse
                    rx="30"
                    ry="30"
                    transform="matrix(1.356765 0 0 1.400633 109.29705 229.122622)"
                    fill="#fff"
                    stroke-width="0"
                />
                <ellipse
                    rx="30"
                    ry="30"
                    transform="matrix(1.356765 0 0 1.400633 190.70295 229.122622)"
                    fill="#fff"
                    stroke-width="0"
                />
                <ellipse
                    rx="30"
                    ry="30"
                    transform="matrix(.988901 0 0 1.400633 150 72.93869)"
                    fill="#fff"
                    stroke-width="0"
                />
                <rect
                    width="59.334028"
                    height="156.183933"
                    rx="0"
                    ry="0"
                    transform="translate(120.332986 72.93869)"
                    fill="#fff"
                    stroke-width="0"
                />
                <line
                    x1="-29.667022"
                    y1="0"
                    x2="29.667022"
                    y2="0"
                    transform="translate(149.999992 72.93869)"
                    fill="none"
                    stroke="#0f172a"
                    stroke-width="3"
                />
                <line
                    x1="-0.000004"
                    y1="-8.324525"
                    x2="0.000004"
                    y2="8.324524"
                    transform="translate(149.999988 38.816813)"
                    fill="none"
                    stroke="#0f172a"
                    stroke-width="3"
                />
            </svg>
            <h1 class="text-2xl font-bold">Starbet-Live</h1>
        </a>
        <nav hx-boost="true" class="space-x-4">
            <a class="hover:text-secondary text-secondary-darkest" href="/login"
                >Login</a
            ><a
                class="hover:text-secondary text-secondary-darkest"
                href="/register"
                >Register</a
            >
        </nav>
    </header>
    <main class="flex flex-col items-center justify-center px-6 text-center">
        {% block main_content %} {% endblock %}
    </main>
    <footer class="text-footer flex items-center justify-center py-4">
        © 2024 Starbet-Live. All rights reserved.
    </footer>
</div>
{% endblock %}
