<!-- prettier-ignore -->
{% extends "base.html" %}

{% block content %}
<div class="text-secondary bg-primary flex min-h-screen flex-col">
    <header class="flex items-center justify-between px-6 py-4">
        <a hx-boost="true" href="/profile" class="flex items-center space-x-4">
            {% include "logo.html" %}
            <h1 class="text-2xl font-bold">User Profile</h1>
        </a>
        <nav hx-boost="true" class="space-x-4">
            <a
                class="hover:text-secondary text-secondary-darkest"
                href="/dashboard"
                >Games</a
            ><a
                class="hover:text-secondary text-secondary-darkest"
                href="/logout"
                >Logout</a
            >
        </nav>
    </header>
    <main
        class="h-screen-minus-navbar mt-auto flex flex-grow justify-between px-6 pb-4"
    >
        {% block main_content %} {% endblock %}
        <div
            class="bg-primary-lighter flex w-1/5 flex-col items-center justify-center gap-6 rounded"
        >
            <img src="/profile-picture" alt="profile-picture" />
            <p>username</p>
            <p>first_name last_name</p>
            <p>email</p>
            <p>balance</p>
        </div>
    </main>
</div>
{% endblock %}
