<!-- prettier-ignore -->
{% extends "base.html" %}

{% block content %}
<div class="flex h-screen items-center justify-center">
    <div class="w-96 rounded bg-white p-8 shadow-md">
        <h1 class="mb-4 text-2xl font-bold">REGISTER</h1>
        <form hx-post="register" hx-boost="true" hx-target="body">
            {{ username|safe }}
            <div class="flex flex-row gap-x-1">
                <!-- prettier-ignore -->
                {{ first_name|safe }} 
                {{ last_name|safe }}
            </div>
            <!-- prettier-ignore -->
            {{ email|safe }}
            {{ password|safe }}
            {{ confirm_password|safe }}
            <button
                type="submit"
                class="focus:shadow-outline-green bg-button text-button-text hover:bg-button-hover active:bg-button-active rounded p-2 focus:outline-none"
            >
                Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}
