<!-- prettier-ignore -->
{% extends "layout_unauth.html" %}

{% block main_content %}
<div class="w-80">
    <h2 class="mb-4 text-4xl font-bold">Register</h2>
    <p class="text-secondary-darkest mb-8 text-lg">Create your acount here</p>
    <form hx-post="register" hx-boost="true" hx-target="body" class="text-left">
        {{ username|safe }}
        <div class="flex flex-row gap-x-1">
            <!-- prettier-ignore -->
            {{ first_name|safe }} 
            {{ last_name|safe }}
        </div>
        <!-- prettier-ignore -->
        {{ email|safe }}
        {{ password|safe }}
        {{ confirm_password|safe }}
        <div class="flex justify-center">
            <button
                type="submit"
                class="border-secondary text-secondary hover:bg-primary-lighter mt-4 h-10 rounded-md border bg-transparent px-8 text-sm font-medium transition-colors"
            >
                Register
            </button>
        </div>
    </form>
</div>
{% endblock %}
