<script>
    tailwind.config = {
        theme: {
            colors: {
                primary: {
                    DEFAULT: "#0f172a",
                },
                secondary: {
                    DEFAULT: "#ffffff",
                },
                error: {
                    DEFAULT: "#dc2626",
                },

                button: {
                    DEFAULT: "#84cc16",
                    hover: "#65a30d",
                    active: "#166534",
                    text: "#ffffff",
                },
                input: {
                    DEFAULT: "#ffffff",
                    hover: "#e5e7eb",
                    focus: "#ffffff",
                    text: "#000000",
                    border: {
                        DEFAULT: "#9ca3af",
                        hover: "#6b7280",
                        focus: "#3b82f6",
                    },
                },
                menu: {
                    DEFAULT: "#9ca3af",
                    button: {
                        DEFAULT: "#6b7280",
                        hover: "#4b5563",
                        text: "#ffffff",
                        active: {
                            DEFAULT: "#e7e5e4",
                            hover: "#d1d5db",
                        },
                    },
                },
                game: {
                    board: "#4b5563",
                    item: {
                        DEFAULT: "#3b82f6",
                        title: "#ffffff",
                    },
                },
                nav: {
                    bar: "#6b7280",
                },
                match: {
                    DEFAULT: "#fde68a",
                    bet: {
                        DEFAULT: "#fcd34d",
                        hover: "#fbbf24",
                        text: "#ffffff",
                    },
                },
                panel: {
                    DEFAULT: "#f3f4f6",
                },
            },
        },
    };
</script>
