<script>
    tailwind.config = {
        theme: {
            extend: {
                height: {
                    "screen-minus-navbar": "calc(100vh - 64px)",
                },
            },
            colors: {
                primary: {
                    DEFAULT: "#0f172a",
                    lighter: "#1e293b",
                    lightest: "#42577A",
                },
                secondary: {
                    DEFAULT: "#ffffff",
                    darker: "#e2e8f0",
                    darkest: "#cbd5e1",
                },
                error: {
                    DEFAULT: "#dc2626",
                    darker: "#b91c1c",
                },
                success: {
                    DEFAULT: "#10b981",
                },
                footer: {
                    DEFAULT: "#6b7280",
                },
            },
        },
    };
</script>
