<script>
    tailwind.config = {
        theme: {
            colors: {
                button: "#84cc16",
                "button-hover": "#65a30d",
                "button-active": "#166534",
                "button-text": "#ffffff",
                "input-border": "#d1d5db",
                "input-border-focus": "#3b82f6",
                "error-text": "#ef4444",
                "menu-button": "#6b7280",
                "menu-button-hover": "#4b5563",
                "menu-button-text": "#ffffff",
                menu: "#9ca3af",
                "nav-bar": "#6b7280",
                "game-board": "#4b5563",
                "game-item": "#3b82f6",
                "game-item-title": "#ffffff",
            },
        },
    };
</script>
