<!-- prettier-ignore -->
{% extends "base.html" %}

{% block content %}
<div class="flex h-screen flex-col">
    <div class="flex-none">{% include "user_nav.html" %}</div>
    <div class="flex grow flex-row">
        <div id="content" class="flex grow flex-row">
            <!-- prettier-ignore -->
            {{ menu|safe }} 
            {% include "dashboard/game/game_board.html" %}
        </div>
        <div
            id="right_side_panel"
            class="bg-primary text-secondary flex min-w-48 flex-col items-center font-bold"
        >Your bets</div>
    </div>
</div>
{% endblock %}
