<header
    class="bg-primary text-secondary flex items-center justify-between px-6 py-4"
>
    <a hx-boost="true" href="/dashboard" class="flex items-center space-x-4">
        {% include "logo.html" %}
        <h1 class="text-2xl font-bold">Starbet-Live: Games</h1>
    </a>
    <nav hx-boost="true" class="flex items-center justify-center space-x-4">
        <a
            class="hover:text-secondary text-secondary-darkest flex items-center justify-center space-x-2"
            href="/profile"
        >
            <img
                src="{{ profile_picture }}"
                alt="profile-picture"
                class="max-h-8 max-w-8 rounded-full object-contain"
            />
            <div class="flex gap-2">
                <p>{{ username }}:</p>
                {{ user_balance|safe }}
            </div> </a
        ><a class="hover:text-secondary text-secondary-darkest" href="/logout"
            >Logout</a
        >
    </nav>
</header>
